{layout 'layout.latte'}

{block profileContent}

<section>
	<h2>Contact</h2>
	
	<div class="contact-item">{$scientist->mail}</div>
	<div class="contact-item">{$scientist->phone}</div>
	<div class="contact-item">{$scientist->skype}</div>
	<div class="contact-item">{$scientist->twitter}</div>
	<div class="contact-item">{$scientist->linked_in}</div>
</section>