{block content}

<h1>Awards</h1>

<div n:foreach="$items as $item">
	<a class="ajax" n:href="editItem! $item->id">{$item->title}</a> | <a class="confirm" n:href="deleteItem! $item->id">Delete</a>
</div>

<button data-dialog="edit-dialog" class="dialog-trigger">New Award</button>

{snippet editDialog}
	{control awardForm}
{/snippet}