<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/global.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/front.css" />

		<title>{ifset title}{include title|striptags} | {/ifset}Scientists</title>
	</head>

	<body>
		<section id="content">
			<header>
				{block nav}
					<nav id="right-nav">
						{if $user->isLoggedIn()}
							<a n:href="Profile:default $user->id">My Profile</a>
							<a n:href=":Admin:About:default">Administration</a>
							<a n:href="logout!">Log-out</a>
						{else}
							<a n:href=":Login:default">Log-in</a>
						{/if}
					</nav>
				{/block}
			</header>

			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

			{include content}
		</section>
		
		<footer>
			Footer
		</footer>

		{block scripts}
			<script src="{$basePath}/js/jquery.min.js"></script>
			<script src="{$basePath}/js/netteForms.min.js"></script>
			<script src="{$basePath}/js/front.js"></script>
		{/block}
	</body>
</html>
