{block content}

<h1>Interests</h1>

<div n:foreach="$items as $item">
	<a class="ajax" n:href="editItem! $item->id">{$item->title}</a> | <a n:href="deleteItem! $item->id">Delete</a>
</div>

<button data-dialog="edit-dialog" class="dialog-trigger">New Interest</button>

{snippet editDialog}
	{control interestForm}
{/snippet}