h1 {
	text-align: center;
}

form.main-center {
	max-width: 500px;
	margin: auto;
}

.items-list.gallery {
	max-width: 800px;
}

.items-list.gallery .pictures {
	overflow: hidden;
	clear: both;
}

.items-list.gallery .list-item {
	float: left;
}

.items-list.gallery .list-item:not(:first-child) {
	margin-left: 10px;
}

.items-list.gallery .list-item img {
	max-width: 150px;
}

@media screen and (max-width: 1130px) {
	header .nav-toggle {
		display: block;
	}
	
	#left-nav .nav-item, #right-nav .nav-item {
		display: none;
		float: none;
		clear: both;
		margin-left: 0;
		-webkit-transition: display 2s;
		transition: display 2s;
	}
	
	#left-nav .nav-item.visible, #right-nav .nav-item.visible {
		display: block;
	}
	
	#left-nav, #right-nav {
		float: none;
	}
	
	#content {
		margin-top: 60px;
	}
}