h1 {
	text-align: center;
}

form.main-center {
	max-width: 500px;
	margin: auto;
}

.items-list.gallery {
	max-width: 800px;
}

.items-list.gallery .pictures {
	overflow: hidden;
	clear: both;
}

.items-list.gallery .list-item {
	float: left;
}

.items-list.gallery .list-item:not(:first-child) {
	margin-left: 10px;
}

.items-list.gallery .list-item img {
	max-width: 150px;
}

nav a, .nav-toggle {
	color: #337ab7;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	border-radius: 4px;
	background-color: transparent;
	text-align: center;
}

nav .nav-item.selected a, nav a:hover {
	background-color: #337ab7;
	color: #fff;
}

nav .nav-item {
	float: left;
}

nav .nav-item:not(:first-child) {
	margin-left: 5px;
}

.nav-toggle {
	display: none;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 18px;
	margin-right: 10px;
	cursor: pointer;
}

@media screen and (max-width: 1130px) {
	.nav-toggle {
		display: block;
	}
	
	#left-nav .nav-item, #right-nav .nav-item {
		display: none;
		float: none;
		clear: both;
		margin-left: 0;
		-webkit-transition: display 2s;
		transition: display 2s;
	}
	
	#left-nav .nav-item.visible, #right-nav .nav-item.visible {
		display: block;
	}
	
	#left-nav, #right-nav {
		float: none;
	}
	
	#content {
		margin-top: 60px;
	}
}